<a href="https://colab.research.google.com/github/JCaballerot/Credit-Scoring/blob/main/introduccion/calculo_provsal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pddf = pd.read_csv('cosechas_202101_sample.csv')
pddf.head(10)

,MES,MES_COSECHA,ID,MADURACION,ATRASO,MTOGASTOPROVISIONSOL,MTOPRINCIPALSOL,NUMENTIDADES_6
0,202101,202101.0,01039631,0.0,0.0,100.0000,10000.00839,3
1,202102,202101.0,01039631,1.0,0.0,-3.0213,9697.87432,2
2,202103,202101.0,01039631,2.0,0.0,-28.7398,6823.87667,2
3,202104,202101.0,01039631,3.0,0.0,-16.4854,5175.35207,2
4,202105,202101.0,01039631,4.0,0.0,-16.9565,3479.68702,2
5,202106,202101.0,01039631,5.0,0.0,52.4225,1744.39470,2
6,202101,202101.0,01056345,0.0,0.0,742.6310,76696.29180,4
7,202102,202101.0,01056345,1.0,0.0,17.0296,76696.32405,4
8,202103,202101.0,01056345,2.0,0.0,7.3017,76696.29968,4
9,202104,202101.0,01056345,3.0,0.0,-41.6599,72530.17667,4

In [ ]:

res = pddf.groupby('MES_COSECHA').aggregate({'MTOGASTOPROVISIONSOL': 'sum'}).reset_index()
res

   MES_COSECHA  MTOGASTOPROVISIONSOL  MTOPRINCIPALSOL
0     202101.0          5.516130e+06     2.752503e+06

In [ ]:
pddf.loc[pddf.MADURACION == 0]['MTOPRINCIPALSOL'].count()

3581

In [ ]:
pddf.loc[pddf.MADURACION == 0]['MTOPRINCIPALSOL'].sum()

375650945.40876

In [ ]:
pddf['MTOGASTOPROVISIONSOL'].sum()

5516130.165500407

In [ ]:
res['prov_saldo_12'] =  res.MTOGASTOPROVISIONSOL/pddf.loc[pddf.MADURACION == 0]['MTOPRINCIPALSOL'].sum()

In [ ]:
res

In [ ]:
res = pddf.groupby('MADURACION').aggregate({'MTOGASTOPROVISIONSOL': 'sum'}).reset_index()

In [ ]:
res

    MADURACION  MTOGASTOPROVISIONSOL  MTOPRINCIPALSOL
0          0.0          3.762778e+06     2.752502e+06
1          1.0         -1.567628e+05     2.752503e+06
2          2.0          1.769423e+05     2.741146e+06
3          3.0          4.340155e+04     2.726161e+06
4          4.0          2.462782e+05     2.710496e+06
5          5.0          4.611743e+05     2.695317e+06
6          6.0          1.227129e+05     2.679452e+06
7          7.0          1.021690e+05     2.664059e+06
8          8.0          8.243197e+04     2.648561e+06
9          9.0          3.741763e+04     2.632397e+06
10        10.0          2.459215e+05     2.616696e+06
11        11.0          2.523224e+05     2.600325e+06
12        12.0          1.393431e+05     2.584413e+06

In [ ]:
res = pddf.groupby('NUMENTIDADES_6').aggregate({'MTOGASTOPROVISIONSOL': 'sum'}).reset_index()

res

   NUMENTIDADES_6  MTOGASTOPROVISIONSOL  MTOPRINCIPALSOL
0               1          2.193974e+06     2.752503e+06
1               2          2.047193e+06     1.627237e+06
2               3          7.947753e+05     1.200001e+06
3               4          2.030582e+05     1.076772e+06
4               5          1.128256e+05     1.032121e+06
5               6          4.845789e+03     4.719893e+05
6               7          2.913436e+04     1.800002e+05
7               8          1.827808e+03     1.912063e+05
8               9          1.284959e+05     1.912064e+05

In [ ]:
pddf.loc[pddf.MADURACION == 0].groupby('NUMENTIDADES_6').aggregate({'MTOPRINCIPALSOL': 'sum'}).reset_index()

   NUMENTIDADES_6  MTOPRINCIPALSOL
0               1     1.589638e+08
1               2     1.349007e+08
2               3     5.669896e+07
3               4     1.626739e+07
4               5     7.650265e+06
5               6     6.486118e+05
6               7     3.300003e+05
7               8     1.912063e+05