<a href="https://colab.research.google.com/github/JCaballerot/Credit-Scoring/blob/main/introduccion/C%C3%A1lculo_de_variables_agregadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1 align=center><font size = 5>Calculando variables agregadas
</font></h1>

---

## Introducci칩n

En este laboratorio, aprender치 a crear variables b치sicas sobre informaci칩n mensual de clientes.

## Generando data

In [3]:
import pandas as pd
import random

# Crear una lista de meses y una lista de estados civiles
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
estados_civiles = ['Soltero', 'Casado', 'Divorciado', 'Viudo']

# Crear una lista de clientes y sus datos ficticios
num_clientes = 1000
clientes = []
for mes in meses:
    for i in range(1, num_clientes + 1):
        cliente = {
            'Mes': mes,
            'Cliente': f'Cliente {i}',
            'Ingresos ($)': random.randint(3000, 8000),
            'Ahorros ($)': random.randint(1000, 5000),
            'Mora Bancaria ($)': random.randint(0, 300),
            'Deuda Total ($)': random.randint(500, 2500),
            'Edad': random.randint(20, 60),
            'Estado Civil': random.choice(estados_civiles)
        }
        clientes.append(cliente)

# Crear un DataFrame con los datos de los clientes
df = pd.DataFrame(clientes)

In [4]:
df.head()

,Mes,Cliente,Ingresos ($),Ahorros ($),Mora Bancaria ($),Deuda Total ($),Edad,Estado Civil
0,Enero,Cliente 1,7722,1189,87,2257,33,Casado
1,Enero,Cliente 2,6709,4887,82,1918,21,Divorciado
2,Enero,Cliente 3,7516,1341,263,1815,47,Soltero
3,Enero,Cliente 4,5539,3145,153,2066,28,Soltero
4,Enero,Cliente 5,4376,4998,30,2068,39,Soltero

In [9]:
# Contar el n칰mero de repeticiones de cada cliente
count_df = df.groupby(['Cliente']).size().reset_index(name='Repeticiones')
count_df

          Cliente  Repeticiones
0       Cliente 1            12
1      Cliente 10            12
2     Cliente 100            12
3    Cliente 1000            12
4     Cliente 101            12
..            ...           ...
995   Cliente 995            12
996   Cliente 996            12
997   Cliente 997            12
998   Cliente 998            12
999   Cliente 999            12

[1000 rows x 2 columns]

In [11]:
# Convertir la columna "Mes" en un tipo de dato category para mantener el orden
df['Mes'] = pd.Categorical(df['Mes'], categories=meses, ordered=True)

In [12]:

# Ordenar el DataFrame por cliente y mes
df.sort_values(by=['Cliente', 'Mes'], inplace=True)

In [13]:

# Crear una columna con el promedio de la Deuda Total de los 칰ltimos 3 meses
df['Deuda Total Promedio 칔ltimos 3 Meses'] = df.groupby('Cliente')['Deuda Total ($)'].rolling(window=3, min_periods=1).mean().reset_index(level=0, drop=True)

In [15]:
# Mostrar el DataFrame con el promedio de la Deuda Total de los 칰ltimos 3 meses
df.head()

,Mes,Cliente,Ingresos ($),Ahorros ($),Mora Bancaria ($),Deuda Total ($),Edad,Estado Civil,Deuda Total Promedio 칔ltimos 3 Meses
0,Enero,Cliente 1,7722,1189,87,2257,33,Casado,2257.000000
1000,Febrero,Cliente 1,3372,2502,74,1397,46,Viudo,1827.000000
2000,Marzo,Cliente 1,4950,3731,198,887,31,Viudo,1513.666667
3000,Abril,Cliente 1,6715,2802,77,1783,30,Divorciado,1355.666667
4000,Mayo,Cliente 1,3400,2732,195,856,60,Divorciado,1175.333333